{
  "extends": ["prettier", "airbnb"],
  "plugins": ["prettier"],
  "root": true,
  "rules": {
    "no-console": "warn",
    "quotes": "off",
    "linebreak-style": "off",
    "implicit-arrow-linebreak": "off",
    "no-unused-vars": "off",
    "indent": "off",
    "function-paren-newline": "off",
    "jsx-quotes": "off",
    "arrow-body-style": "off",
    "no-undef": "warn",
    "no-param-reassign": "off",
    "camelcase": "off",
    "comma-dangle": "off",
    "semi": "off",
    "no-use-before-define": "off",
    "no-loop-func": "off",
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/no-unescaped-entities": "off",
    "react/function-component-definition": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
