* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;

  transition: transform 0.1 ease-in;
}

button:hover {
  transform: scale(1.1);
}

.main-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-content-container > svg {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;

  transition: transform 0.2s;
}

.main-content-container > svg:hover {
  transform: rotate(90deg);
}

.main-content-container > button {
  background-color: inherit;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.sidebar-container {
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: auto;
  box-shadow: 1px 1px 3px 2px black;
  left: 0;

  position: absolute;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar-container__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 1rem;
}

.sidebar-container__title > h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

.sidebar-container__title > button {
  background-color: inherit;
  border: none;
  color: red;
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.sidebar-container__page-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.option-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  gap: 2rem;
  padding: 0.5rem;
}

.option-container:hover {
  transform: translateX(2rem);
  border: 2px solid grey;
  border-radius: 0.5rem;
}

.option-container > p {
  font-size: 2rem;
  width: 100%;
}

.option-container > i {
  color: black;
  font-size: 3rem;
}

.sidebar-container__social-media {
  align-self: flex-end;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.sidebar-container__social-media > a {
  text-decoration: none;
  color: black;
  font-size: 2rem;

  transition: transform 0.1s ease-in;
}

.sidebar-container__social-media > a:hover {
  transform: scale(1.5);
}

.modal-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;

  transition: transform 0.2s, opacity 0.2s;
}

.modal-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid black;
  width: 30%;
  height: 30%;
  border-radius: 0.5rem;
  background-color: white;
  position: relative;
}

.modal-container__content > svg {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: red;

  transition: transform 0.1 ease-in;
}

.modal-container__content > svg:hover {
  transform: scale(1.1);
}

.modal-container__content > h2 {
  margin-top: 5rem;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

.modal-container__content > p {
  font-size: 1.25rem;
}
